[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "autoload/pathogen.vim"]
	path = autoload/pathogen.vim
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-better-whitespace"]
	path = bundle/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule "/Users/snoby/.vim/bundle/vim-go"]
	path = /Users/snoby/.vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://git@github.com:fatih/vim-go.git
[submodule "bundle/AnsiEsc.vim"]
	path = bundle/AnsiEsc.vim
	url = https://git@github.com:vim-scripts/AnsiEsc.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://git@github.com:scrooloose/syntastic.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/vim-bundler"]
	path = bundle/vim-bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "bundle/haproxy.vim"]
	path = bundle/haproxy.vim
	url = https://github.com/zimbatm/haproxy.vim.git
[submodule "bundle/vim-startify"]
	path = bundle/vim-startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "delimitMate"]
	path = delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "Dockerfile.vim"]
	path = Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule "bundle/neocomplete"]
	path = bundle/neocomplete
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "bundle/Vim-Jinja2.vim"]
	path = bundle/Vim-Jinja2.vim
	url = https://github.com/Glench/Vim-Jinja2-Syntax.git
[submodule "bundle/vim-pasta"]
	path = bundle/vim-pasta
	url = https://github.com/sickill/vim-pasta.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/nginx.vim"]
	path = bundle/nginx.vim
	url = https://github.com/vim-scripts/nginx.vim
[submodule "bundle/indentLine"]
	path = bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/groovy.vim"]
	path = bundle/groovy.vim
	url = https://github.com/rdolgushin/groovy.vim.git
[submodule "bundle/delimitMate.git"]
	path = bundle/delimitMate.git
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/vim-flavored-markdown"]
	path = bundle/vim-flavored-markdown
	url = https://github.com/jtratner/vim-flavored-markdown.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vim-nerdtree"]
	path = bundle/vim-nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "/Users/snoby/.vim/bundle/auto-pairs"]
	path = /Users/snoby/.vim/bundle/auto-pairs
	url = git://github.com/jiangmiao/auto-pairs.git
